<!-- card -->

<div class="cards">
    <!-- card 1 -->
    <mat-card>
        <app-card
        bg="gray"
        icon="person"
        description="student"
        count=2000>
    </app-card>
    </mat-card>

    <!-- card 2 -->
    <mat-card>
        <app-card
        bg="gray1"
        icon="home"
        description="institution"
        count=5000>
    </app-card>
    </mat-card>

    <!-- card 3 -->

    <mat-card>
        <app-card
        bg="gray2"
        icon="groups"
        description="employees"
        count=1000>
    </app-card>
    </mat-card>

    <!-- card 4 -->

    <mat-card>
        <app-card
        bg="gray3"
        icon="dashboard"
        description="placements"
        count=1500>
    </app-card>
    </mat-card>




</div>

<!-- areachart -->

<div class="area">

    <app-area></app-area>

</div>

<!-- table and pie chart -->

<div class="tablepie">

    <!-- table only -->
    <div>

        <app-table></app-table>

    </div>

    <!-- pie chart only -->
    <div >

        <app-piechart></app-piechart>

    </div>
</div>